.ItemsGrid {
    display: flex;
    flex-wrap: wrap;
}

.item {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 14.285714%;
    height: 40px;
    cursor: pointer;
    border-left: 1px solid #eee;
    border-bottom: 1px dashed #eee;
}

.item:hover { 
    background: #eee;
}